.banner-principal__img
  img
	  animation: float 3s ease-in-out infinite

@keyframes float
	0%
		transform: translatey(0px)
	50%
		transform: translatey(-10px)
	100%
		transform: translatey(0px)

.img-a 
  display: block 
  margin: auto   
  width: auto
  height: auto

.cajon.color-acento-contenido 
    background-color: #FDF7EF

.bg_td
  background-color: #E4C7A1

.bg_td1
  background-color: #FAF4EC

.bg_td2
  background-color: #D44F4A
  color: $white

.bor1
  border-bottom: 10px solid #fff

.tarjeta.color-acento-botones * 
    color: #12263F

.tarjeta--gris 
    background-color: #F8EFE4

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
  color: $white

.tar_sly
  background: linear-gradient(0deg, rgba(241,226,207,0.5504319396200059) 0%, rgba(245,231,211,1) 72%)

.line01
  height: 3px
  background-color: #D44F4A

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #D44F4A

.slyder-a__bullets__item 
  width: 30px
  height: 7px
  background-color: #F0BDBC
  border-radius: 0%
  opacity: 1

.slyder-a__bullets__item--active 
    background-color: #D44F4A

@media screen and (max-width: 991px)
  .slyder-a__btn--digt, .slyder-a__btn--atrs
    top: 102% !important

.bloque-texto-g__img 
  left: 612px

.bloque-texto-g__texto
  right: 460px

.bg-color1
  background-image: url(../assets/curso/tema_4/img_2.svg)
  margin-inline: -3.2rem 
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  padding-top: 20px
  padding-bottom: 50px

.bg-color2
  background-image: url(../assets/curso/tema_4/img_3.svg)
  margin-inline: -3.2rem 
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  padding-top: 20px
  padding-bottom: 20px

.bg-color3
  background-image: url(../assets/curso/tema_4/img_7.svg)
  margin-inline: -3.2rem 
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  padding-top: 20px
  padding-bottom: 20px

.lista-ul--color li > i:first-of-type 
  color: #D44F4A

.cajon.color-secundario 
  background-color: #FFFFFF

.bg_1
  background-color: #E9F5F3

.bg_2
  background-color: #6BBCB1
  h5
    color: $white !important

.anexo 
  background-color: #F4E9D9

.anexo *
  color: $color-sistema-texto

.img-infografica__item, .img-infografica-b__item
  width: 4.5%